@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray-color: #4a4a4d;
    --bg-color: #ecf0f3;
}
*{
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    
    font-family: "Poppins", sans-serif;

}
h1,h2{
 font-family: "Saira", sans-serif;

}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}
.text-primary{
    color: var(--secondary-color);
}
.btn-primary{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary:hover{
    background-color: #2baf88;
    padding: 8px 21px;
}
#home{
    background-color: var(--bg-color);
    height: 100vh;
}
#home .navbar{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 7;
}
#home .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.4rem 2rem;
}
#home #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    /* padding: 0 0 0 50px; */
}
#home .navbar nav ul{
    display: flex;
    justify-content: center;
    justify-items: center;
}
#home .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
    transition: all .2s ease;
}
#home .navbar nav ul a:hover{
    color: #037c56;
}
#home .header-content{
    display: grid;
    grid-template-columns: 1.5fr .8fr;
    max-width:1100px;
    margin:auto;
    padding: 5rem 2rem 0;
    height:100%;
    align-items:center;
}
#home .header-content .content-text{
    margin-bottom: 5rem;
}
#home .header-content p span{
    font-weight: 700;
    font-size: 20px;
}
#home .header-content h1{
    font-size:60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}
#home .header-content .title{
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
}
#home .header-content .social{
margin: 1rem 0 2rem;
}
#home .header-content .social a i{
    font-size: 19px;
    padding: 10px;
    background-color: var(--gray-color);
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
#home .header-content .social a i:hover{
    font-size: 15px;
    color: #aeb3f3e8;
}
#home .header-content img{
    max-width: 450px;
}
#about,
#skills, 
#services, 
#projects{
    padding: 6rem 0;
}
#about h2, 
#skills h2, 
#services h2, 
#projects h2,
#contact h2 {
    text-align: center;
    font-size: 39px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
#about hr, 
#skills hr, 
#services hr, 
#projects hr{
    width: 115px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
    align-items: center;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}
#about .about-content .col-1 h3{
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;
}
#about .about-content .col-1 p{
    color: var(--gray-color);
    margin-bottom: 20px;
    line-height: 1.8;
}
#about .about-content .col-2 p{
    color: var(--gray-color);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
/* skills */
#skills{
    background-color: var(--primary-color);

}
#skills h2,
#projects h2{
    color: #fff;
    font-family: 'poppins', sans-serif;
}
#skills .skills-content{
    margin-top: 2.5rem ;
    background-color: #0f272d;
    border-radius: 3px;
}
#skills .skills-content .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-content .row .item{
    color: #fff;
    background-color: #000;
    margin: 40px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}
#skills .skills-content .row .item:hover{
    box-shadow: 10px 10px 10px #00f4ab0c;
    background-color: rgb(15, 14, 14);
    transform: scale(1.03);
}
#skills .row img{
    max-width: 50px;
    background-color: #000;
}
#services .container .row img{
    max-width: 70px;
}
#services, #contact{
    background-color: #00f4ab0c;
}
#services .heading img{
    max-width: 40px;
    margin-right: 10px;
}
#services .heading h2 span{
    color: var(--secondary-color);
    font-family: sans-serif;
}
#services .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;
}
#services .row .items{
    background-color: #fff;
    padding: 30px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    transition: all 0.3 ease;
}
#services .row .items:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    transform: scale(1.04);
}
#services .row .items h3{
    color: var(--primary-color) ;
    padding: 7px;
}
#services .row .items p{
    font-size: 14px;
}
/* projects */
#projects{
    background-color: var(--primary-color) ;
}
#projects .row{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#projects .row .item{
    margin-top: 2rem ;
    background-color: #f9fbfc;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#projects .row .item:hover{
    transform: scale(1.01);
}
#projects .row .item img{
    overflow: hidden;
    max-width: 100%;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    border-bottom: solid 2px rgba(194, 193, 193, 0.637);
}
.item .item-content{
    padding: 10px 15px 25px;
}
.item .item-content h3{
    color: var(--primary-color);
    font-size: 20px;
    padding: 10px 0;
    margin-bottom: 15px ;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .item-content a{
    font-size: 14px;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 8px;
    background-color: #272727;
    transition: all 0.3s ease;
}
.item .item-content a:hover{
    padding:  9px 9px;
    letter-spacing: .5px;
    color: rgb(43, 255, 96);
    background-color: #25373d;
}
.row .wel {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .6px;
    text-align: center;
    margin-top: 48px;
}
/* project End */

/* contact Start */
#contact{
    padding: 4rem 0;
}
#contact .row{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    background-color: #fff;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);
    padding: 2rem 3rem;
    border-radius: 10px;
}
#contact .row input, #contact .row textarea{
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background-color: #00f4ab0c;
    border: 1px solid #bbb;
    border-radius: 4px;
    transition: all .5 ease;
}
#contact .row input:hover, 
#contact .row textarea:hover{
    transform: scale(1.02);
    background-color: #ffffffad ;
}
#contact .row img{
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    filter:drop-shadow(2px 2px 2px rgba(167, 159, 159, 0.699))
}
/* contact End */
 
/* footer Srart */
#footer{
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
/* footer End */
/* Responsive */


/*  */
@media (max-width:970px){ 
    #home .header-content img {
        max-width: 260px;
    }
    #home .header-content h1{
        font-size: 45px;
        letter-spacing: 3px;
    }
  }
  /* @media (max-width:740px){
    #home .header-content img {
        margin: auto;
        width: 160px;
    }
  } */
/* /* tablet responsive */
@media (max-width: 770px){
    #home .navbar nav{
        display: block;
        text-align: center;
    }
    #home .navbar nav ul{
        margin-top: 20px;
    }
    #home .navbar nav ul a{
        margin: 0 8px;
    }
    #home .header-content{
        grid-template-columns: 1fr;
    }
    #home .header-content .content-text{
        margin-bottom: 0;
        margin-top: 5rem;
    }
    #home .header-content img{
        max-width: 250px;
        margin: auto;
    }
    #home .header-content h1{
        font-size: 37px;
    }
    #about .about-content,
    #contact .row{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    #skills .skills-content .row,
    #services .row,
    #projects .row {
        grid-template-columns: repeat(2, 1fr);
    }
    #contact .row img{
        max-width: 350px;
        margin: auto;
    }
}
/* mobile Responsive */
@media (max-width: 576px){
    #home .header-content h1{
        font-size: 30px;
    }
    #home .header-content p span,#home .header-content .title{
        font-size: 16px;
    }
    #home .navbar nav ul a{
        margin: 0 6px;
    }
    #home .header-content img{
        max-width: 250px;
        margin-top: 2rem;
    }
    #about h2, 
#skills h2, 
#services h2, 
#projects h2,
#contact h2 {
    font-size: 29px;
}
#about .about-content .col-1 h3{
    font-size: 20px;
}
#skills .skills-content .row,
#services .row,
#projects .row {
    grid-template-columns: repeat(1, 1fr);
}
#contact .row{
    padding: 2rem 1rem;
}
} 
@media (max-width: 375px){
    #home .header-content h1{
        font-size: 25px;
    }
    #home .navbar nav ul a{
        margin: 0 4px;
    }
     #home .header-content img{
        max-width: 200px;
        margin: auto;
    } 
}
.up{
    width: 36px;
    border-radius: 17px ;
    position: fixed;
    bottom: 17px;
    right: -40px;
    background-color: #9027c09a;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    transition: 0.1.5s;
    z-index: 1;
}
.up.show{
    right: 17px;
 } 